@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: 'Proxima Nova', system-ui, sans-serif;
	}
}

.active {
	color: rgb(0, 255, 183);
	font-weight: bold;
}

.weather-widget {
	width: 24rem;
	height: 24rem;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: scale(0.78);
}
.w-widget {
	width: 100% !important;
}
.animate-gradient {
	background-size: 300%;
	-webkit-animation: animatedgradient 9s ease infinite alternate;
	-moz-animation: animatedgradient 9s ease infinite alternate;
	animation: animatedgradient 9s ease infinite alternate;
}

@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.line-clamp-4 {
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

@keyframes rotateImage {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.rotate {
	animation: rotateImage 5s linear infinite;
}
