@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
	color: rgb(0, 255, 183);
	font-weight: bold;
}

.weather-widget {
	width: 96rem;
	height: 96rem;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: scale(0.78);
}
.w-widget {
	width: 100% !important;
}
.animate-gradient {
	background-size: 300%;
	-webkit-animation: animatedgradient 10s ease infinite alternate;
	-moz-animation: animatedgradient 10s ease infinite alternate;
	animation: animatedgradient 10s ease infinite alternate;
}

@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
